*,
*::after *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
    width: 1920px;
}

.list {
    list-style: none;
    width: 1920px;
    margin: 79px 875px 151px 399px;
}

.list>li {
    display: inline-block;
    margin-right: 42px;
}

.link_1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #34547A;
    text-decoration: none;
}

.link {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.abou {
    width: 1920px;
    /* vertical-align: middle; */
}


.first {
    margin: 0px 949px 60px 440px;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
}

.tex1 {
    margin: 0px 949px 65px 440px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.icon {
    margin: 0px 1255px 253px 440px;
    width: 225px;
    height: 65px;
    left: 399px;
    top: 494px;
    background: #34547A;
    padding: 19px 26px 20px 56px;
}

.submit {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
    /* padding: 19px 41px 10px 41px; */
}

.title {
    /* width: 1920px; */
}

.titleh {
    margin: 0px 759px 50px 758px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.titlep {
    margin: 0px 680px 100px 680px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.titlep2 {
    margin: 0px 680px 110px;
}

/* .content { */
/* width: 1920px; */
/* } */

.peps {
    list-style: none;
    width: 1920px;
    height: 250px;
    left: 0px;
    top: 1059px;
    background: #34547A;
    padding: 100px 380px;
    margin: 0px 0px 100px;
}

.peps>li {
    display: inline-block;
    width: 141px;
    height: 50px;
    left: 409px;
    top: 1159px;
    margin-right: 48.33px;
}

.icon_h3 {
    margin: 0px 759px 50px 758px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.icon_p {
    margin: 0px 690px 57px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.film {
    margin: 0px 405px 100px;
    width: 1110px;
    height: 600px;
    left: 405px;
    top: 1613px;
}

.grid {
    width: 1920px;
    height: 151px;
    left: 0px;
    top: 2313px;
    background: #34547A;
}

.card {
    padding: 50px 1384px 20px 406px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.card_1 {
    padding: 0px 1321px 50px 406px;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}