*,
*::after *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #000;
    width: 100%;
    background: #EEEFF1;
}

#jab {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header {
    padding: 79px 0px;
}

.top {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.list>li {
    display: inline-block;
    font-weight: 500;
    /* font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em; */
    /* text-transform: uppercase; */
    /* padding-right: 42px; */
    margin-right: 42px;
    transition: 0.3s all;
}

.link_1 {
    color: #34547A;
    text-decoration: none;
}

a:hover {
    border-bottom: -5px #33bf24;
}

.link {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    padding-right: 42px;
    /* display: inline-block; */
}

a:hover {
    border-bottom: -5px #099b09;
}

.conteiner {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.tex1 {
    max-width: 540px;
    padding: 72px 0px;
    /* margin: 0px 980px 65px 399px; */
}

.first {
    margin: 0 0 60px;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
}

.but {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.icon {
    margin: 65px 0px 143px;
    width: 225px;
    left: 399px;
    top: 494px;
    background: #34547A;
    padding: 19px 41px 20px;
}

.submit {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: -5px #099b09;
}

.submit:hover {
    border-bottom: -5px #099b09;
}

.title {
    background: #FFFFFF;
    text-align: center;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.conteiner {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title_1 {
    max-width: 540px;
    margin: 0 auto;
    padding: 112px 0px 100px;
    line-height: 26px;
}

.titleh {
    margin: 0px auto;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
}

.title_1>p {
    margin: 50px auto 0px;
}

.content {
    background: #34547A;
}

.peps {
    list-style: none;
    max-width: 1111px;
    margin: 0 auto;
    padding: 100px 0px;
}

.peps>li {
    max-width: 141px;
    display: inline-block;
}

.peps li+li {
    margin-left: 49px;
}

.con_1 {
    max-height: 50px;
    display: inline-block;
    vertical-align: top;
}

.wei {
    display: block;
    padding: 3px 31px 7px 20px;
    font-weight: 500;
    font-size: 21px;
    color: #FFFFFF;
}

.wei_1 {
    display: block;
    padding: 0px 0px 3px 20px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.icon_1 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.icon_2 {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.icon_3 {
    max-width: 540px;
    margin: 0 auto;
    padding: 112px 0px 100px;
    line-height: 26px;
}

.icon_h4 {
    margin: 100px 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.conteiner_2 {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.film {
    margin: 0px 0px 100px;
    width: 1110px;
    height: 600px;
    left: 405px;
    top: 1613px;
}

.grid {
    background: #34547A;
    padding: 0px 0px 50px;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.card {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.card_1 {
    max-width: 193px;
}

.card_2 {
    padding: 50px 0px 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}